.content-wrapper {
    padding: 8%;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/119/599/original/dirty-grunge-vector-background.jpg");
    color: black;
}


h1 {
    color: #ff4114;
}