.content-wrapper {
    padding: 8%;
}

body {
    background-color: ghostwhite;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: black;
}


h1 {
    color: #323bff;
}

h2 {
    color: #323bff;
}

table th td {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
thead tr {
    background-color: #848efa;
    color: black;
    text-align: left;
    font-size: 26px;
    font-weight: bold;

}

th,
td {
    padding: 12px 15px;
    font-size: 18px;
}

tbody tr:nth-of-type(even) {
    background-color: #7bb8fa;

}

tbody tr:nth-of-type(odd) {
    background-color: whitesmoke;
}

#main_page_header{
    text-align: center;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    padding: 3%;
    font-size: 5ch;
}

.comments