<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
    <body>
            <h1>Ask a question</h1>
            <form action="/add-question" method="post">

                <p><label for="title-input">Title of the queston:</label></p>
                    <textarea rows="1" cols="60" name="title" id="title-input"></textarea>

                <p><label for="message-input">Describe the question:</label></p>
                    <textarea rows="10" cols="50" name="message" id="message-input"></textarea>

                <p><button type="submit">Ask question</button></p>
            </form>
    </body>
</html>