{% extends 'layout.html' %}
{% block content %}
    <h1>Add a comment</h1>
        <h2> Questions: </h2>
        {% for data in question_data %}
            <a><h2>{{ data.title }}</h2></a><br>
            <p><a>{{ data.message }}</a><br></p>
        {% endfor %}

        <h2>Answers:</h2>
        {% for data in answer_data %}
            <a><p>{{ data.message }}</p></a><br>
        {% endfor %}

        <h2>Comments:</h2>
        {% for data in answer_comment %}
            <a><p>{{ data.comment_message }}</p></a>
            {% if user_name[0].get('user_name') == session['username'] %}
                <a href="{{ url_for('delete_answer_comment', comment_id=data.comment_id) }}">Delete comment</a>
            {% endif %}
        {% endfor %}

    <form method="post">
        <label for="add-comment">Add your comment:</label><br>
        <input type="text" name="comment" id="add-comment"><br>
        <input type="submit" value="Add comment">
    </form>
    <a href="{{ url_for('show_specific_question', question_id = question_id) }}">Back</a>

{% endblock %}