<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
</head>
<body>
    <h1>Add a comment</h1>
    {% for data in question_data %}
        <a>{{ data.title }}</a><br>
        <a>{{ data.message }}</a><br>
    {% endfor %}
    <form method="post">
        <label for="add_comment">Add your comment:</label><br>
        <input type="text" name="comment" id="add_comment"><br>
        <input type="submit" value="Add comment">
    </form>
    {{ status }}
    <a href="/list">Back</a>
</body>
</html>