<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
<body>
            <form method="post">
                <h1>Title of the question</h1>
                <label>
                    <textarea rows="1" cols="60" name="title"></textarea>
                </label>
                <p>Describe the question</p>
                <label>
                    <textarea rows="10" cols="50" name="message"></textarea>
                </label>


                <p><input type="submit" value="Ask question"></p>
            </form>
</body>
</html>