<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A question</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>Submission Time:</th>
                <th>View Number:</th>
                <th>Vote Number:</th>
                <th>Title:</th>
                <th>Message:</th>
                <th>Answers:</th>
            </tr>
        </thead>
        {% for question in question_data %}
        <tr>
            <td>{{ question['id'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
        {% endfor %}
        {% for answer in answer_data %}
            <td>{{ answer['message'] }}</td>
        {% endfor %}
        </tr>
    </table>
</body>
</html>