{% extends 'layout.html' %}
{% block content %}
    <h1>
        Question:
    </h1>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>Submission Time:</th>
                <th>Vote Number:</th>
                <th>Title:</th>
                <th>Message:</th>
                <th>Answer question:</th>
            </tr>
        </thead>
        <tr>
            <td>{{ question_data.get('id') }}</td>
            <td>{{ question_data.get('submission_time') }}</td>
            <td>{{ question_data.get('vote_number') }}</td>
            <td>{{ question_data.get('title') }}</td>
            <td>{{ question_data.get('message') }}</td>
            <td><a href="{{ url_for(".answer_question", answer_id=question_data.get('id')) }}">Answer question</a></td>
        </tr>
    </table>
    <table>
        <h1>Answers:</h1>
        {% for answer in answer_data %}
        <tr>
            <td>{{ answer }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}