{% extends 'layout.html' %}
{% block content %}
    <h1>
        Ask Mate
    </h1>
    <table>
        <thead>
            <tr>
                <th>Title:</th>
                <th>Message:</th>
            </tr>
        </thead>
        {% for value in data %}
        <tr>
            <td>{{value.title }}</td>
            <td>{{ value.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <form>
        <p><a href="{{ url_for('show_all_questions') }}">Show all questions</a></p>
    </form>
{% endblock %}