{% extends 'layout.html' %}
{% block content %}
    <div id="main_page_header">
    <h1>
        Ask Mate
    </h1>
    </div>
    <table class="main_table">
        <thead>
            <tr>
                <th>Title:</th>
                <th>Message:</th>
            </tr>
        </thead>
        {% for value in data %}
            <tr>
                <td>{{value.title }}</td>
                <td>{{ value.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <form>
        <p><a href="{{ url_for('show_all_questions') }}">Show all questions</a></p>
    </form>

        {% if is_logged_in == True%}
        You are logged in as {{ login_name}}<br>
            <a href="{{ url_for('logout') }}">Log out</a>

        {% else%}
        <p>Log in</p>
        <form method="post">
        <p>Username<input type=text name=username>
        <p>Password<input type=text name=password>
        <p><input type=submit value=Login>
        </form>
        {% endif %}

{% endblock %}