{% extends 'layout.html' %}
{% block content %}
    <div id="main_page_header">
    <h1>
        Ask Mate
    </h1>
    </div>
    <table class="main_table">
        <thead>
            <tr>
                <th>Title:</th>
                <th>Message:</th>
            </tr>
        </thead>
        {% for value in data %}
            <tr>
                <td>{{value.title }}</td>
                <td>{{ value.message }}</td>
        {% endfor %}
    </table>
    <form>
        <p><a href="{{ url_for('show_all_questions') }}">Show all questions</a></p>
    </form>
{% endblock %}