<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="content-wrapper">
         {% if session['username'] %}
            You are logged in as {{ session['username']}}<br>
            <a href="{{ url_for('logout') }}">Log out</a>

         {% else %}
            Log in
            <form method="post" action="/">
                Username<input type=text name=username placeholder="Username">
                Password<input type=password name=password placeholder="Password">
                <input type=submit value=Login><br>
                <a href="{{ url_for('register_user') }}">Register</a>
            </form>
            {% endif %}
    {% block content %} {% endblock %}
    </div>
</body>
</html>