{% extends "layout.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Registration date</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for data in users %}
        <tr>
            <td>{{ data.id }}</td>
            <td><a href="{{ url_for('user_page', user_id=data.id ) }}">{{ data.user_name }}</td>
            <td>{{ data.registration_date }}</td>
            <td>{{ data.status }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/"><button class="main_btn" type="button">Back to homepage</button></a>
{% endblock %}