<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body>
    <h1>
        Ask Mate
    </h1>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>Title:</th>
            </tr>
        </thead>
        {% for value in data %}
        <tr>
            <td>{{value['id'] }}</td>
            <td><a href="{{url_for('display_question', question_id=value['id']) }}">{{value['title']}}</a></td>
        </tr>
        {% endfor %}
    </table>
<form>
    <p><a href="/add-question">Ask a question</a></p>
</form>
</body>
</html>