{% extends 'layout.html' %}
{% block content %}
    <h1>
        Ask Mate
    </h1>
    <form method="get" action="search">
        <label for="q" ></label>
        <input type="text" name="q" id="q">
        <button type="submit">Search</button>
    </form>
    <h1>All of the questions</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th><th>Title:</th>
                <th>Message:</th>
                <th>Vote number:</th>
                <th>Vote:</th>
            </tr>
        </thead>
        {% for data in question_list %}
            <tr>
                <td>{{ data.name_of_user }}</td>
                <td><a href="{{ url_for('show_specific_question', question_id = data.id) }}">{{ data.title }}</a></td>
                <td>{{ data.message }}<br>
                    <a href="{{ url_for('edit_question', question_id=data.id ) }}">Edit question</a>
                    <a href="{{ url_for('delete_question', question_id=data.id) }}">Delete question</a></td>
                <td>{{ data.vote_number }}</td>
                <td>
                <a href="{{ url_for('vote_up', question_id=data.id) }}">
                    <input type="button" value="Vote Up" id="vote_up" name="vote_up"></a>
                <a href="{{ url_for('vote_down', question_id=data.id) }}">
                    <input type="button" value="Vote Down" id="vote_down" name="vote_down"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('add_question') }}">Add question</a><p>
    <p><a href="/">Back to homepage</a></p>
{% endblock %}