{% extends 'layout.html' %}
{% block content %}
    <h1>Details of the question</h1>
    <div class="comments">
        {% for data in question_data %}
            <h2>{{ data.title }}</h2>
            <h4>{{ data.message }}</h4>
        {% endfor %}
        <h2>Comments to question</h2>
        {% for comment in question_comment %}
            <ul>
                <li>{{ comment.message }}</li>
            </ul>
        {% endfor %}
        {% for question_id in question_data %}
            <a href="{{ url_for('add_new_comment_to_question', question_id = question_id.id ) }}">Add new comment</a>
        {% endfor %}
    </div>
    <div class="answer">
        <h2>Answers to questions</h2>
        <ul>
            {% for data in question_answer %}
                <li>{{ data.message }}</li>
                <p>by: {{ data.user_name }}</p>
                Vote: {{ data.vote_number }}<br>
                {% if data.message != "[deleted]" %}
                    <a href="{{ url_for('edit_answer',answer_id=data.id) }}">Edit answer</a>
                    <a href="{{ url_for('delete_answer',answer_id=data.id) }}">Delete answer</a>
                {% endif %}
                <a href="{{ url_for('add_new_comment_to_answer', answer_id = data.id) }}">Show comments</a><br>
                <a href="{{ url_for('vote_up_answer', answer_id=data.id ) }}">Vote Up</a>
                <a href="{{ url_for('vote_down_answer', answer_id=data.id ) }}">Vote Down</a>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_answer', question_id = question_data[0].id ) }}">Add new answer</a>
    </div>
    <a href="/list">Back</a>
{% endblock %}