{% extends "layout.html" %}
{% block content %}
    <h1>User Page</h1>

        <h2>User:</h2>
        <em>{{ user_name[0].get('user_name') }}</em><br><br>
        <h3>Questions:</h3>
            {% if answer_data %}
                {% for data in question_data %}
            <ul>
                <li>{{ data.title }}</li>
            </ul>
                {% endfor %}
            {% else %}
                <p>Nothing to show</p>
            {% endif %}
        <h3>Answers:</h3>
            {% if question_data %}
                {% for data in question_data %}
            <ul>
                <li>{{ data.message }}</li>
            </ul>
                {% endfor %}
            {% else %}
                <p>Nothing to show</p>
            {% endif %}
        <h3>Comments:</h3>
            {% if comment_data %}
                {% for data in comment_data %}
            <ul>
                <li>{{ data.message }}</li>
            </ul>
                {% endfor %}
            {% else %}
                <p>Nothing to show</p>
            {% endif %}
    <a href="{{ url_for('list_users') }}">Back</a>

{% endblock %}